@page
@model RegisterCourierModel
@{
    ViewData["Title"] = "Регистрация курьера";
}

<div class="row form-rules">
    <div class="form-container col-md-8">
        <form id="registerCourierForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-input form-floating mb-3">
                <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" placeholder="Имя" aria-required="true" />
                <label asp-for="Input.Firstname" class="form-label">Имя</label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>

            <div class="form-input form-floating mb-3">
                <input asp-for="Input.INN" class="form-control" autocomplete="inn" placeholder="ИНН (10-12 символов)" aria-required="true" />
                <label asp-for="Input.INN" class="form-label">ИНН</label>
                <span asp-validation-for="Input.INN" class="text-danger"></span>
            </div>

            <div class="form-input form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone" aria-required="true" />
                <label asp-for="Input.PhoneNumber" class="form-label">Номер телефона</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-input form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-input form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Пароль</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-input form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Подтвердите пароль</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/inputmask/dist/inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            var phoneMask = new Inputmask("+7 (999) 999-99-99", {
                clearIncomplete: true,
                placeholder: " ",
                autoUnmask: true,
                oncomplete: function () {
                    var phoneValue = $('#Input_PhoneNumber').val();
                    if (phoneValue.length > 13) {
                        $('#Input_PhoneNumber').val(phoneValue.substring(0, 13));
                    }
                }
            });
            phoneMask.mask($("#Input_PhoneNumber"));

            $('#registerCourierForm').submit(function () {
                var phoneInput = $('#Input_PhoneNumber');
                var phoneValue = phoneInput.val();
                var cleanedPhoneValue = phoneValue.replace(/\D/g, '');
                phoneInput.val(cleanedPhoneValue);
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Фоновая анимация с использованием anime.js
            anime({
                targets: '.form-rules',
                easing: 'easeInOutSine',
                backgroundPosition: ['0% 50%', '100% 50%'], // Анимация позиции градиента
                duration: 10000,
                loop: true,
                direction: 'alternate' // Движение туда-обратно
            });
        });
    </script>
}
